@import "~@edx/brand/paragon/fonts";
@import "~@edx/brand/paragon/variables";
@import "~@openedx/paragon/scss/core/core";
@import "~@edx/brand/paragon/overrides";

@import "sass/style";

:root {
  --pgn-font-family-base: 'General Sans', sans-serif;
}

body {
  font-family: var(--pgn-font-family-base);
}